/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
$font-family: "Open Sans", sans-serif;
$font-family-secundary: "Tenor Sans", sans-serif;

/* Colors */
$color-black: #292929;
$color-black-500: #000;

$color-white: #fff;

$color-gray: #6c6c6c;
$color-gray2: #7d7d7d;
$color-gray3: #f0f0f0;
$color-gray4: #8d8d8d;
$color-gray5: #e5e5e5;
$color-gray6: #c4c4c4;
$color-gray7: #e0e0e0;

$color-blue: #4267b2;
$color-blue-100: #00c8ff;

$color-green: #4caf50;

/* Grid breakpoints */
$grid-breakpoints: (
    xs: 0,
    cstm: 400,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

$z-index: (
    level1: 5,
    level2: 10,
    level3: 15,
    level4: 20,
    level5: 25,
) !default;
