body .container-main.container-order-form .orderform-template.active {
    .mini-cart {
        width: 32.3242%;
        margin-left: unset;
        margin-right: 0;
        float: right;
    }
    .orderform-template-holder {
        width: 66.1132%;
    }
}
