@import "./checkout-vazio";
@import "./checkout-carrinho";
@import "./checkout-pagamento";
@import "./checkout-autenticacao";

html {
    height: 100%;
    min-height: 100%;
}

footer .footerCheckout__wrapper {
    width: 94.9734%;
    margin: auto auto 0 auto;
}
footer .footerCheckout__prateleira,
header {
    width: 79.53125%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100% !important;
    padding-top: 0 !important;

    @include mq(md, max) {
        padding-left: 0;
    }

    &.body-cart {
        font-family: $font-family;
    }

    &.body-cart,
    &.body-order-form {
        @include mq(xl, min) {
            padding-top: 0;
        }

        @include mq(lg, max) {
            padding-bottom: 0 !important;
        }

        @include mq(md, max) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .container-order-form,
    .container-cart {
        width: 80%;

        @media (max-width: 1024px) {
            width: 98%;
        }
    }
    .ship-country {
        display: none;
    }
}

.btn-success {
    background: $color-black;
    text-shadow: none;

    &:hover {
        background: lighten($color-black, 15%);
    }
}

.emailInfo h3 {
    color: $color-black !important;
}

#cart-title,
#orderform-title {
    color: $color-black-500;
    font-family: $font-family;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    margin: 40px 0 30px;
    letter-spacing: 0%;
    text-transform: uppercase;

    @include mq(md, max) {
        margin-left: 30px;
    }
}

.dropdown {
    &__content {
        &--closed {
            display: none;
        }
    }

    &__title {
        cursor: pointer;
        user-select: none;

        &::before,
        &::after {
            content: "";
            background: $color-gray2;
            display: block;
            float: right;
            height: 2px;
            width: 8px;
            margin-top: 8px;
        }

        &::before {
            transform: rotate(0deg);
            transition: 0.3s;
        }

        &::after {
            transform: rotate(90deg);
            transition: 0.3s;
            margin-right: -8px;
        }

        &.closed::before {
            transform: rotate(180deg);
        }

        &.closed::after {
            transform: rotate(0);
        }
    }
}
