.checkout-container {
    .client-pre-email {
        border-color: $color-black-500;
        font-family: $font-family;
        padding-top: 8px;
        input {
            font-size: 12px;
        }

        #client-pre-email::placeholder {
            color: $color-black-500;
        }

        .link-cart {
            a {
                color: $color-black-500;
                font-size: 14px;
                font-family: $font-family-secundary;
                line-height: 16px;
                text-transform: uppercase;

                &:hover {
                    color: lighen($color-black, 10);
                }
            }
        }

        .pre-email {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;

            h3 {
                margin-bottom: 16px;

                span {
                    color: $color-black-500;
                    font-size: 20px;
                    font-family: $font-family-secundary;
                    text-transform: uppercase;
                }

                small {
                    color: $color-black-500;
                    font-weight: 20px;
                    font-family: $font-family-secundary;
                    text-transform: uppercase;
                }
            }
        }

        .client-email {
            margin: 0 0 16px;

            @media (max-width: 1024px) {
                width: 100%;
            }
            input {
                box-shadow: none;
                color: $color-black;
                font-family: $font-family;
                padding: 0 16px;
                border: 1px solid $color-black-500;
                box-sizing: border-box;
                border-radius: 5px;

                @media (max-width: 490px) {
                    width: auto;
                }
            }

            button {
                background-color: $color-blue-100;
                border-radius: 0 5px 5px 0;
                border: none;
                font-family: $font-family;
                height: 54px;
                right: 0;
                top: 0;
                color: $color-black-500;
                font-weight: bold;

                @media (max-width: 490px) {
                    height: 48px;
                    margin: 0;
                    position: absolute;
                }
            }

            span.help.error {
                color: red;
                font-weight: 700;
                font-size: 12px;
            }
        }

        .emailInfo {
            padding: 16px;
            background-color: $color-white;
            border: 1px solid $color-black-500;
            border-radius: 5px;

            h3 {
                color: #303030;
                margin: 0 0 8px 0;
            }

            ul {
                margin: 0;

                li {
                    span {
                        color: $color-black;
                        font-weight: 700;
                        font-size: 12px;
                    }

                    i::before {
                        color: $color-blue-100;
                        font-size: 1rem;
                        opacity: 1;
                    }
                }
            }

            i::before {
                color: $color-black;
                font-size: 6rem;
                opacity: 0.5;
            }
        }
    }

    .shipping-data,
    .payment-data,
    .client-profile-data {
        .accordion-group {
            border-radius: 0;
            border: 1px solid $color-gray3;
            font-family: $font-family;
            padding: 16px;

            .accordion-heading {
                span {
                    color: #303030;
                    margin-bottom: 15px;
                    padding: 0;

                    i {
                        display: none;
                    }
                    .icon-edit {
                        display: block;
                        color: #00c8ff;
                        font-size: 20px;
                        width: 20px;
                        height: 20px;
                    }
                }

                a {
                    align-items: center;
                    background-color: transparent;
                    border-radius: 8px;
                    border: none;
                    display: flex;
                    justify-content: center;
                    padding: 6px 5px 6px 8px;
                }
            }

            .accordion-inner {
                padding: 0;

                /* General configurations */

                .client-notice {
                    display: none;
                }

                p {
                    label {
                        color: $color-gray2;
                        font-weight: 700;
                        font-size: 12px;
                    }

                    select,
                    input {
                        display: flex;
                        max-width: 100%;
                        border-radius: 5px;
                        border: 1px solid $color-gray7;
                        box-shadow: none;
                    }
                    #ship-postalCode {
                        width: 100%;
                        max-width: 94%;
                    }

                    .help.error {
                        color: red;
                    }
                }
                .box-client-info-pj {
                    display: none;
                }

                .box-client-info-pj {
                    .link a#is-corporate-client,
                    .link a#not-corporate-client {
                        color: $color-black;
                        font-weight: 500;
                        text-decoration: underline;
                    }
                }

                .state-inscription-box span {
                    font-weight: 500;
                }
                .btn-submit-wrapper {
                    margin-top: 44px;
                }

                button.submit {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    background: $color-blue-100;
                    margin-top: 8px;
                    outline: none;
                    transition: all 0.2s linear;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 700;

                    &:hover {
                        background: lighten($color-blue-100, 5);
                    }

                    &:active {
                        background: darken($color-blue-100, 5);
                    }
                }

                /* Shipping configurations */

                .ship-postalCode small a {
                    color: #303030;
                    font-weight: 500;
                    text-decoration: underline;
                }

                .vtex-omnishipping-1-x-deliveryGroup {
                    p {
                        color: $color-gray2;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19px;
                    }

                    .shp-lean {
                        border-radius: 0;

                        label {
                            background-color: $color-white;
                            box-shadow: none;
                            color: #303030;
                            padding: 8px 12px;

                            svg path {
                                fill: #d8c8ac;
                            }
                        }
                    }
                }

                .delivery-address-title {
                    color: #303030;
                    font-size: 14px;
                    font-weight: 500;
                }

                .shp-summary-group-info {
                    border-color: $color-gray4;
                }

                .address-summary {
                    background: none;
                    border-radius: 0;
                    color: #303030;
                    padding: 12px;
                    border-radius: 8px;

                    @include mq(md, max) {
                        background-position: 8px 9px;
                    }

                    a {
                        color: $color-blue-100;
                        font-weight: 500;
                        margin-left: 24px;
                    }
                }

                .shp-summary-group-price,
                .shp-summary-package {
                    color: $color-gray4;
                }

                .shp-summary-group-price {
                    padding-right: 16px;
                }

                .shp-summary-package {
                    padding-left: 16px;
                }

                .vtex-omnishipping-1-x-summaryChange {
                    border-color: #303030;
                    color: #303030;
                }

                .vtex-omnishipping-1-x-deliveryChannelsToggle {
                    background-color: $color-white;
                    border: 1px solid $color-black-500;
                }

                .vtex-omnishipping-1-x-deliveryOptionActive {
                    color: $color-black-500;
                    line-height: 19px;
                }
                .vtex-omnishipping-1-x-addressFormPart1 {
                    small {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
